<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <servlet>
    <servlet-name>ch1</servlet-name>
    <servlet-class>chap7.Ch1Servlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ch1</servlet-name>
    <url-pattern>/Serv1</url-pattern>
  </servlet-mapping>
</web-app>